

body{
	font-family: 'Love Ya Like A Sister', serif !important;
} 

header{

  text-align: center;
  height: 240px;
  width: 994px;
  padding: 35px 0 0;
  background-color: #e82535;

}
 
.container{
	text-align: center;
    margin-top: 30%;
}

#style{
	width: 450px; 
	height: 350px;
}

.panel{
	height: 550px;
}

h4{
	font-size: 4.5rem;
    height: 150px;
    margin-top: 30px;
}

footer{
  background: #e82535;
  height: 180px;
  width: 994px;
}
