body{
	font-family: 'Love Ya Like A Sister', serif !important;
}

.container{
	text-align: center;

}
    
h1{

	color: #e82535;
	padding: 25%;
    margin-top: 15px;
}

.titulo{
	text-align: center;
}